<EditForm Model="dutie" OnValidSubmit="OnValidSubmit">

    <DataAnnotationsValidator/>

    <div class="mb-3">
        <label>Nombre</label>
        <div>
            <InputText width="10" @bind-Value="@dutie.Name"></InputText>
            <ValidationMessage For="@(() => @dutie.Name)" />
        </div>
        <label>Descripcion</label>
        <div>
            <InputText width="10" @bind-Value="@dutie.Description"></InputText>
            <ValidationMessage For="@(() => @dutie.Description)" />
        </div>
        <label>Teimpo de Comienzo</label>
        <div>
            <InputDate width="10" @bind-Value="@dutie.StartTime"></InputDate>
            <ValidationMessage For="@(() => @dutie.StartTime)" />
        </div>
        <label>Teimpo de Finalizacion</label>
        <div>
            <InputDate width="10" @bind-Value="@dutie.EndTime"></InputDate>
            <ValidationMessage For="@(() => @dutie.EndTime)" />
        </div>
        <label>Comentarios</label>
        <div>
            <InputText width="10" @bind-Value="@dutie.Remarks"></InputText>
            <ValidationMessage For="@(() => @dutie.Remarks)" />
        </div>
        <label>Id del Proyecto de Construccion</label>
        <div>
            <InputNumber width="10" @bind-Value="@dutie.ProjectConstructionsId"></InputNumber>
            <ValidationMessage For="@(() => @dutie.ProjectConstructionsId)" />
        </div>

        
    </div>


    <button class="btn btn-primary" type="submit">Guardar</button>
    <button class="btn btn-info" type="reset">Limpiar</button>
    <button class="btn btn-secondary" @onclick="ReturnAction">Regresar</button>



</EditForm>




@code {


    [EditorRequired]
    [Parameter]
    public Dutie dutie { get; set; }


    [EditorRequired]
    [Parameter]
    public EventCallback OnValidSubmit { get; set; }


    [EditorRequired]
    [Parameter]
    public EventCallback ReturnAction { get; set; }


}
