@inject IRepository Repository
<EditForm Model="dutie" OnValidSubmit="OnValidSubmit">

    <DataAnnotationsValidator/>

    <div class="mb-3">
        <label>Nombre</label>
        <div>
            <InputText width="10" @bind-Value="@dutie.Name"></InputText>
            <ValidationMessage For="@(() => @dutie.Name)" />
        </div>
        <label>Descripcion</label>
        <div>
            <InputText width="10" @bind-Value="@dutie.Description"></InputText>
            <ValidationMessage For="@(() => @dutie.Description)" />
        </div>
        <label>Tiempo de Comienzo</label>
        <div>
            <InputDate width="10" @bind-Value="@dutie.StartTime"></InputDate>
            <ValidationMessage For="@(() => @dutie.StartTime)" />
        </div>
        <label>Tiempo de Finalizacion</label>
        <div>
            <InputDate width="10" @bind-Value="@dutie.EndTime"></InputDate>
            <ValidationMessage For="@(() => @dutie.EndTime)" />
        </div>
        <label>Comentarios</label>
        <div>
            <InputText width="10" @bind-Value="@dutie.Remarks"></InputText>
            <ValidationMessage For="@(() => @dutie.Remarks)" />
        </div>
        <div>
            <label>Proyecto de Construccion</label>

            <Dropdown TItem="int" OnSelected="@OnSelected">
                <InitialTip>Escoja un Proyecto de Construccion</InitialTip>
                <ChildContent >
                    @foreach (var projectconstruction in ProjectConstructions!)
                    {
                        <DropdownListItem Context="dropContext" Item="@projectconstruction.Id">@projectconstruction.Name</DropdownListItem>
                    }
                </ChildContent>
            </Dropdown>
        </div>

        
    </div>

    <button class="btn btn-primary" type="submit">Guardar <i class="bi bi-floppy2"></i></button>
    <button class="btn btn-info" type="reset">Limpiar <i class="bi bi-x-octagon"></i></button>
    <button class="btn btn-secondary" @onclick="ReturnAction">Regresar <i class="bi bi-arrow-clockwise"></i></button>



</EditForm>




@code {

    public List<ProjectConstruction> ProjectConstructions { get; set; }


    protected async override Task OnInitializedAsync()
    {
        await Charging();
    }

    private async Task Charging()
    {

        var responseHTTP = await Repository.GetAsync<List<ProjectConstruction>>("/api/ProjectConstructions");
        ProjectConstructions = responseHTTP.Response!;

    }


    [EditorRequired]
    [Parameter]
    public Dutie dutie { get; set; }


    [EditorRequired]
    [Parameter]
    public EventCallback OnValidSubmit { get; set; }


    [EditorRequired]
    [Parameter]
    public EventCallback ReturnAction { get; set; }

    private void OnSelected(int selection)
    {
        dutie.ProjectConstructionsId = selection;
    }


}
