@page "/Equipments"
@using Construction.Shared.Entities
@using Construction.WEB.Repositories
@using Construction.WEB.Shared
@inject IRepository Repository
@inject SweetAlertService sweetAlertService
@inject NavigationManager navigationManager

<h3><i class="bi bi-gear-wide-connected" /> Maquinaria</h3>
<div class="card">
    <div class="card-header">
        <span>
            <a class="btn btn-primary btn-sm float-start" href="/equipments/create"><i class="bi bi-plus-circle" /> Nueva Maquinaria</a>

        </span>
    </div>

    <div class="card-body">


        <GenericList MyList="Equipments">

            <Body>
                <table class="table table-striped">
                    <thead>
                        <tr>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <b>ID</b>
                            </td>
                            <td>
                                <b>Nombre</b>
                            </td>
                            <td>
                                <b>Capacidad</b>
                            </td>
                            <td>
                                <b>Estado de Mantenimiento</b>
                            </td>
                            <td>
                                <b>Disponibilidad</b>
                            </td>
                            <td>
                                <b>Comentarios</b>
                            </td>
                            <td>
                                <b>Proyecto de Construccion</b>
                            </td>
                            <td>
                                <b>Tarea</b>
                            </td>
                            <td>
                                <b>Acciones</b>
                            </td>
                        </tr>
                        @foreach (var equipment in Equipments!)
                        {
                            Proyectname(@equipment.ProjectConstructionsId);
                            Dutiename(@equipment.DutiesId);
                            <tr>
                                <td>
                                    @equipment.Id
                                </td>
                                <td>
                                    @equipment.Name
                                </td>
                                <td>
                                    @equipment.Capacity
                                </td>
                                <td>
                                    @equipment.MaintenanceState
                                </td>
                                <td>
                                    @equipment.Availability
                                </td>
                                <td>
                                    @equipment.Remarks
                                </td>
                                <td>
                                    @proyectname
                                </td>
                                <td>
                                    @dutiename
                                </td>

                                <td>
                                    <a href="/equipments/edit/@equipment.Id" class="btn btn-warning">Editar <i class="bi bi-pencil-square"></i></a>
                                    <button class="btn btn-danger" @onclick=@(() => Delete(equipment))>Borrar <i class="bi bi-trash3"></i></button>

                                </td>

                            </tr>
                        }
                    </tbody>
                </table>

            </Body>

        </GenericList>

    </div>
</div>



@code {

    public string proyectname { get; set; }

    public string dutiename { get; set; }


    public List<Dutie> Duties { get; set; }

    public List<ProjectConstruction> ProjectConstructions { get; set; }

    public List<Equipment> Equipments { get; set; }

    protected async override Task OnInitializedAsync()
    {
        await Charging();
    }



    private async Task Charging()
    {
        var responseHTTP = await Repository.GetAsync<List<Equipment>>("/api/Equipments");
        Equipments = responseHTTP.Response!;

        var response3HTTP = await Repository.GetAsync<List<Dutie>>("/api/duties");
        Duties = response3HTTP.Response!;

        var response2HTTP = await Repository.GetAsync<List<ProjectConstruction>>("/api/ProjectConstructions");
        ProjectConstructions = response2HTTP.Response!;

    }


    private async Task Delete(Equipment equipment)
    {

        var result = await sweetAlertService.FireAsync(new SweetAlertOptions
            {
                Title = "Confirmación",
                Text = $"¿Realmente deseas eliminar la maquinaria: {equipment.Name}?",
                Icon = SweetAlertIcon.Question,
                ShowCancelButton = true,
                CancelButtonText = "No",
                ConfirmButtonText = "Si"
            });

        var confirm = string.IsNullOrEmpty(result.Value);
        if (confirm)
        {
            return;
        }

        var responseHTTP = await Repository.DeleteAsync($"/api/Equipments/{equipment.Id}?");

        if (responseHTTP.Error)
        {
            if (responseHTTP.HttpResponseMessage.StatusCode == System.Net.HttpStatusCode.NotFound)
            {
                navigationManager.NavigateTo("/Equipments");
            }
            else
            {
                var mensajeError = await responseHTTP.GetErrorMessageAsync();
                await sweetAlertService.FireAsync("Error", mensajeError, SweetAlertIcon.Error);
            }
        }
        else
        {
            await Charging();

            var toast = sweetAlertService.Mixin(new SweetAlertOptions
                {
                    Toast = true,
                    ShowConfirmButton = true,
                    Timer = 3000,
                    Position = SweetAlertPosition.BottomEnd
                });
            toast.FireAsync(icon: SweetAlertIcon.Success, message: "maquinaria borrada con éxito.");
        }
    }

    private void Proyectname(int? selection1)
    {
        proyectname = "";
        foreach (var projectconstruction in ProjectConstructions!)
        {
            if (selection1 == projectconstruction.Id)
            {
                proyectname = projectconstruction.Name;
            }

        }
    }

    private void Dutiename(int? selection2)
    {
        dutiename = "";
        foreach (var dutie in Duties!)
        {
            if (selection2 == dutie.Id)
            {
                dutiename = dutie.Name;
            }

        }
    }
}




