@inject IRepository Repository
<EditForm Model="MaterialAssignment" OnValidSubmit="OnValidSubmit">

    <DataAnnotationsValidator />

    <div class="mb-3">

        <div>
            <label>Material</label>

            <Dropdown TItem="int" OnSelected="@OnSelected2">
                <InitialTip>Escoja un Material</InitialTip>
                <ChildContent>
                    @foreach (var material in Materials!)
                    {
                        <DropdownListItem Context="dropContext" Item="@material.Id">@material.Name</DropdownListItem>
                    }
                </ChildContent>
            </Dropdown>
     
        </div>
        <div>
            <label>Tarea</label>

            <Dropdown TItem="int" OnSelected="@OnSelected">
                <InitialTip>Escoja una Tarea</InitialTip>
                <ChildContent>
                    @foreach (var dutie in Duties!)
                    {
                        <DropdownListItem Context="dropContext" Item="@dutie.Id">@dutie.Name</DropdownListItem>
                    }
                </ChildContent>
            </Dropdown>
        </div>



    </div>


    <button class="btn btn-primary" type="submit">Guardar <i class="bi bi-floppy2"></i></button>
    <button class="btn btn-info" type="reset">Limpiar <i class="bi bi-x-octagon"></i></button>
    <button class="btn btn-secondary" @onclick="ReturnAction">Regresar <i class="bi bi-arrow-clockwise"></i></button>




</EditForm>




@code {
    public List<Dutie> Duties { get; set; }

    public List<Material> Materials { get; set; }

    public List<ProjectConstruction> ProjectConstructions { get; set; }

    protected async override Task OnInitializedAsync()
    {
        await Charging();
    }


    private async Task Charging()
    {

        var response3HTTP = await Repository.GetAsync<List<Dutie>>("/api/duties");
        Duties = response3HTTP.Response!;

        var response2HTTP = await Repository.GetAsync<List<Material>>("/api/Materials");
        Materials = response2HTTP.Response!;



    }


    [EditorRequired]
    [Parameter]
    public MaterialAssignment MaterialAssignment { get; set; }


    [EditorRequired]
    [Parameter]
    public EventCallback OnValidSubmit { get; set; }


    [EditorRequired]
    [Parameter]
    public EventCallback ReturnAction { get; set; }

    private void OnSelected(int selection)
    {
        MaterialAssignment.DutiesId = selection;
    }

    private void OnSelected2(int selection2)
    {
        MaterialAssignment.MaterialsId = selection2;
    }

}
