@page "/budgets"
@using Construction.Shared.Entities
@using Construction.WEB.Repositories
@using Construction.WEB.Shared
@inject IRepository Repository
@inject SweetAlertService sweetAlertService
@inject NavigationManager navigationManager


<h3><i class="bi bi-cash" /> Presupuestos</h3>
<div class="card">
    <div class="card-header">
        <span>
            <a class="btn btn-primary btn-sm float-start" href="/budgets/create"><i class="bi bi-plus-circle" /> Nuevo Presupuesto</a>

        </span>
    </div>

    <div class="card-body">

        <GenericList MyList="Budgets">

            <Body>
                <table class="table table-striped">
                    <thead>
                        <tr>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <b>ID</b>
                            </td>
                            <td>
                                <b>Equipo de Contruccion</b>
                            </td>
                            <td>
                                <b>Tareas</b>
                            </td>
                            <td>
                                <b>Maquinaria</b>
                            </td>
                            <td>
                                <b>Proyecto de Construccion</b>
                            </td>
                            <td>
                                <b>Total</b>
                            </td>
                            <td>
                                <b>Comentarios</b>
                            </td>
                            <td>
                                <b>ID de Proyecto de Construccion</b>
                            </td>

                            <td>
                                <b>Acciones</b>
                            </td>

                        </tr>
                        @foreach (var budget in Budgets!)
                        {

                            <tr>
                                <td>
                                    @budget.Id
                                </td>
                                <td>
                                    @budget.BudgetConstructionTeam
                                </td>
                                <td>
                                    @budget.BudgetDutie
                                </td>
                                <td>
                                    @budget.BudgetEquipment
                                </td>
                                <td>
                                    @budget.BudgetProyectConstruction
                                </td>
                                <td>
                                    @budget.BudgetTotal
                                </td>
                                <td>
                                    @budget.Remarks
                                </td>
                                <td>
                                    @budget.ProjectConstructionsId
                                </td>

                                <td>
                                    <a href="/budgets/edit/@budget.Id" class="btn btn-warning">Editar <i class="bi bi-pencil-square"></i></a>
                                    <button class="btn btn-danger" @onclick=@(() => Delete(budget))>Borrar <i class="bi bi-trash3"></i></button>
                                </td>

                            </tr>
                        }
                    </tbody>
                </table>

            </Body>

        </GenericList>
    </div>
</div>



@code {

    public List<Budget> Budgets { get; set; }

    protected async override Task OnInitializedAsync()
    {
        await Charging();
    }



    private async Task Charging()
    {
        var responseHTTP = await Repository.GetAsync<List<Budget>>("/api/budgets");
        Budgets = responseHTTP.Response!;

    }


    private async Task Delete(Budget budget)
    {

        var result = await sweetAlertService.FireAsync(new SweetAlertOptions
            {
                Title = "Confirmación",
                Text = $"¿Realmente deseas eliminar el presupuesto: {budget.Id}?",
                Icon = SweetAlertIcon.Question,
                ShowCancelButton = true,
                CancelButtonText = "No",
                ConfirmButtonText = "Si"
            });

        var confirm = string.IsNullOrEmpty(result.Value);
        if (confirm)
        {
            return;
        }

        var responseHTTP = await Repository.DeleteAsync($"/api/budgets/{budget.Id}");

        if (responseHTTP.Error)
        {
            if (responseHTTP.HttpResponseMessage.StatusCode == System.Net.HttpStatusCode.NotFound)
            {
                navigationManager.NavigateTo("/budgets");
            }
            else
            {
                var mensajeError = await responseHTTP.GetErrorMessageAsync();
                await sweetAlertService.FireAsync("Error", mensajeError, SweetAlertIcon.Error);
            }
        }
        else
        {
            await Charging();
            await Charging();

            var toast = sweetAlertService.Mixin(new SweetAlertOptions
                {
                    Toast = true,
                    ShowConfirmButton = true,
                    Timer = 3000,
                    Position = SweetAlertPosition.BottomEnd
                });
            toast.FireAsync(icon: SweetAlertIcon.Success, message: "Presupuesto borrado con éxito.");
        }
    }





}