<EditForm Model="EquipmentAssignment" OnValidSubmit="OnValidSubmit">

    <DataAnnotationsValidator />

    <div class="mb-3">
        <label>Id de la Maquinaria</label>
        <div>
            <InputNumber width="10" @bind-Value="@EquipmentAssignment.ConstructionTeamsId"></InputNumber>
            <ValidationMessage For="@(() => @EquipmentAssignment.ConstructionTeamsId)" />
        </div>
        <label>Id del proyecto de construccion</label>
        <div>
            <InputNumber width="10" @bind-Value="@EquipmentAssignment.ProjectConstructionsId"></InputNumber>
            <ValidationMessage For="@(() => @EquipmentAssignment.ProjectConstructionsId)" />
        </div>
        
    </div>


    <button class="btn btn-primary" type="submit">Guardar <i class="bi bi-floppy2"></i></button>
    <button class="btn btn-info" type="reset">Limpiar <i class="bi bi-x-octagon"></i></button>
    <button class="btn btn-secondary" @onclick="ReturnAction">Regresar <i class="bi bi-arrow-clockwise"></i></button>




</EditForm>




@code {


    [EditorRequired]
    [Parameter]
    public EquipmentAssignment EquipmentAssignment { get; set; }


    [EditorRequired]
    [Parameter]
    public EventCallback OnValidSubmit { get; set; }


    [EditorRequired]
    [Parameter]
    public EventCallback ReturnAction { get; set; }


}
