@page "/Materials"
@using Construction.Shared.Entities
@using Construction.WEB.Repositories
@using Construction.WEB.Shared
@inject IRepository Repository
@inject SweetAlertService sweetAlertService
@inject NavigationManager navigationManager

<h1>Materiales</h1>
<div class="mb-3">
    <a class="btn btn-primary" href="/materials/create">Nuevo Material</a>
</div>

<GenericList MyList="Materials">

    <Body>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Material</th>
                    <th></th>

                </tr>
            </thead>
            <tbody>
                @foreach (var material in Materials!)
                {
                    <tr>
                        <td>
                            @material.Name
                        </td>
                        <td>
                            @material.RequiredQuantity
                        </td>
                        <td>
                            @material.Supplier
                        </td>
                        <td>
                            @material.EstimatedDeliveryTime
                        </td>
                        <td>
                            @material.ProjectConstructionsId
                        </td>
                       

                        <td>
                            <a href="/materials/edit/@material.Id" class="btn btn-warning">Editar</a>
                            <button class="btn btn-danger" @onclick=@(() => Delete(material.Id))>Borrar</button>
                        </td>

                    </tr>
                }
            </tbody>
        </table>

    </Body>

</GenericList>



@code {

    public List<Material> Materials { get; set; }

    protected async override Task OnInitializedAsync()
    {
        await Charging();
    }



    private async Task Charging()
    {
        var responseHTTP = await Repository.GetAsync<List<Material>>("/api/Materials");
        Materials = responseHTTP.Response!;

    }


    private async Task Delete(int id)
    {

        var result = await sweetAlertService.FireAsync(new SweetAlertOptions
            {
                Title = "Confirmación",
                Text = "¿Realmente deseas eliminar el registro?",
                Icon = SweetAlertIcon.Question,
                ShowCancelButton = true,
                CancelButtonText = "No",
                ConfirmButtonText = "Si"
            });

        var confirm = string.IsNullOrEmpty(result.Value);
        if (confirm)
        {
            return;
        }

        var responseHTTP = await Repository.DeleteAsync($"/api/Materials/{id}");

        if (responseHTTP.Error)
        {
            if (responseHTTP.HttpResponseMessage.StatusCode == System.Net.HttpStatusCode.NotFound)
            {
                navigationManager.NavigateTo("/Materials");
            }
            else
            {
                var mensajeError = await responseHTTP.GetErrorMessageAsync();
                await sweetAlertService.FireAsync("Error", mensajeError, SweetAlertIcon.Error);
            }
        }
        else
        {
            await Charging();
        }
    }



}
