@inject IRepository Repository
<EditForm Model="Material" OnValidSubmit="OnValidSubmit">

    <DataAnnotationsValidator />

    <div class="mb-3">
        <label>Nombre</label>
        <div>
            <InputText width="10" @bind-Value="@Material.Name"></InputText>
            <ValidationMessage For="@(() => @Material.Name)" />
        </div>
        <label>Cantidad Requerida</label>
        <div>
            <InputNumber width="10" @bind-Value="@Material.RequiredQuantity"></InputNumber>
            <ValidationMessage For="@(() => @Material.RequiredQuantity)" />
        </div>
        <label>Proveedor</label>
        <div>
            <InputText width="10" @bind-Value="@Material.Supplier"></InputText>
            <ValidationMessage For="@(() => @Material.Supplier)" />
        </div>
        <label>Fecha Estimada</label>
        <div>
            <InputDate width="10" @bind-Value="@Material.EstimatedDeliveryTime"></InputDate>
            <ValidationMessage For="@(() => @Material.EstimatedDeliveryTime)" />
        </div>
         <label>Proyecto de Construccion</label>

            <Dropdown TItem="int" OnSelected="@OnSelected">
                <InitialTip>Escoja un Proyecto de Construccion</InitialTip>
                <ChildContent >
                    @foreach (var projectconstruction in ProjectConstructions!)
                    {
                        <DropdownListItem Context="dropContext" Item="@projectconstruction.Id">@projectconstruction.Name</DropdownListItem>
                    }
                </ChildContent>
            </Dropdown>
       
    </div>


    <button class="btn btn-primary" type="submit">Guardar <i class="bi bi-floppy2"></i></button>
    <button class="btn btn-info" type="reset">Limpiar <i class="bi bi-x-octagon"></i></button>
    <button class="btn btn-secondary" @onclick="ReturnAction">Regresar <i class="bi bi-arrow-clockwise"></i></button>




</EditForm>




@code {

    public List<ProjectConstruction> ProjectConstructions { get; set; }


    protected async override Task OnInitializedAsync()
    {
        await Charging();
    }

    private async Task Charging()
    {

        var responseHTTP = await Repository.GetAsync<List<ProjectConstruction>>("/api/ProjectConstructions");
        ProjectConstructions = responseHTTP.Response!;

    }


    [EditorRequired]
    [Parameter]
    public Material Material { get; set; }


    [EditorRequired]
    [Parameter]
    public EventCallback OnValidSubmit { get; set; }


    [EditorRequired]
    [Parameter]
    public EventCallback ReturnAction { get; set; }

    private void OnSelected(int selection)
    {
        Material.ProjectConstructionsId = selection;
    }


}
