<EditForm Model="ProjectConstruction" OnValidSubmit="OnValidSubmit">

    <DataAnnotationsValidator />

    <div class="mb-3">
        <label>Nombre</label>
        <div>
            <InputText width="10" @bind-Value="@ProjectConstruction.Name"></InputText>
            <ValidationMessage For="@(() => @ProjectConstruction.Name)" />
        </div>
        <label>Direccion</label>
        <div>
            <InputText width="10" @bind-Value="@ProjectConstruction.Address"></InputText>
            <ValidationMessage For="@(() => @ProjectConstruction.Address)" />
        </div>
        <label>Descripcion</label>
        <div>
            <InputText width="10" @bind-Value="@ProjectConstruction.Description"></InputText>
            <ValidationMessage For="@(() => @ProjectConstruction.Description)" />
        </div>
        <label>Tiempo de Comienzo</label>
        <div>
            <InputDate width="10" @bind-Value="@ProjectConstruction.StartTime"></InputDate>
            <ValidationMessage For="@(() => @ProjectConstruction.StartTime)" />
        </div>
        <label>Tiempo Estimado de Finalizacion</label>
        <div>
            <InputDate width="10" @bind-Value="@ProjectConstruction.EstimatedEndTime"></InputDate>
            <ValidationMessage For="@(() => @ProjectConstruction.EstimatedEndTime)" />
        </div>
        <label>Comentarios</label>
        <div>
            <InputText width="10" @bind-Value="@ProjectConstruction.Remarks"></InputText>
            <ValidationMessage For="@(() => @ProjectConstruction.Remarks)" />
        </div>


    
    </div>

    <button class="btn btn-primary" type="submit">Guardar <i class="bi bi-floppy2"></i></button>
    <button class="btn btn-info" type="reset">Limpiar <i class="bi bi-x-octagon"></i></button>
    <button class="btn btn-secondary" @onclick="ReturnAction">Regresar <i class="bi bi-arrow-clockwise"></i></button>



</EditForm>




@code {


    [EditorRequired]
    [Parameter]
    public ProjectConstruction ProjectConstruction { get; set; }


    [EditorRequired]
    [Parameter]
    public EventCallback OnValidSubmit { get; set; }


    [EditorRequired]
    [Parameter]
    public EventCallback ReturnAction { get; set; }


}
